html {
    scroll-behavior: smooth;
}

#container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

#container > div {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/stoop sale1.jpg");
    background-position: center;
    background-size: cover;
}

#overlay, #second-overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

#second-overlay {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 100vh; 
    padding: 50px; 
}

#map-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#title, #motto {
    color: #F7F6BB;
    z-index: 2;
    max-width: 900px;
    border-radius: 10px;
}

#title h1, #motto{
    font-size: 4rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#title h1 span, #second-page h1 span {
    color: #FCDC2A;
}

#second-page {
    background-image: url("https://images.unsplash.com/photo-1528698827591-e19ccd7bc23d?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
}


#third-page {
    background-color: #114232;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header-text {
    font-size: 48px;
    letter-spacing: 1px;
    color: #F7F6BB;
    text-align: center;
    margin-top: 10vh;
}

.header-text span {
    color: #FCDC2A;
}

.names {
    font-size: 24px;
    color: white;
    padding-top: 12px;
}

#profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10rem;
    margin-top: 2rem;
    flex: 1;
}

.first.profile,
.second.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.first.profile svg,
.second.profile svg {
    width: 100px;
    height: 100px;
}

.carousel-item {
    height: 100vh;
}